@model BrandViewModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<div class="row">
    <div class="col">
        <form asp-action="Search">
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" />
                <input type="submit" value="Search" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (TempData["Brands"] != null)
        {
            @foreach (var item in TempData["Brands"] as IEnumerable<BrandViewModel>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerCountry)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductClass)
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
