@model ProductViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search by name</h1>

<div class="row">
    <div class="col">
        <form asp-action="Search">
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" />
                <input type="submit" value="Search" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (TempData["Products"] != null)
        {
            @foreach (var item in TempData["Products"] as IEnumerable<ProductViewModel>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stars)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.BrandName)
                        @Html.DisplayFor(modelItem => item.Brand.ManufacturerCountry)
                        @Html.DisplayFor(modelItem => item.Brand.ProductClass)
                        @Html.DisplayFor(modelItem => item.Brand.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.NameCategory)
                        @Html.DisplayFor(modelItem => item.Category.Subcategory)
                        @Html.DisplayFor(modelItem => item.Category.Stars)
                        @Html.DisplayFor(modelItem => item.Category.Delivery)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>